* {
  box-sizing: border-box;
}

/*setting root colours for the webpage*/
:root{--cyan: rgb(0,255, 247);}

body {
  margin:0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*styling the header on the website*/
header{background: var(--cyan);
width:100%;
height: 90px;
position: fixed;
left: 0;
top: 0;
}

main{margin-left:20px;
margin-top:  90px;}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

h1{padding-left: 20px;}

header nav {width:50%;
}

#superhero{max-width: 20%;
padding-top: 20px;
height: auto;
display: inline;
}

#herocaption {font-size: 10px;}

header nav ul {list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
font-size: 1.3em;}


/*styling the contact section*/
footer{width: 100%;
  background: var(--cyan);
padding-left: 20px;}

.contact-deets{
  display:flex;
  justify-content: left;
  align-items: baseline;
}

#contact p {text-decoration:underline;
color:black;
padding: 2em;
align-items: bottom;
font-size: 1.2em;}

#contact a:hover{color: yellow;
}

#contact a:visited{color:red;}