* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/*setting root colours for the webpage*/
:root{--cyan: rgb(0,255, 247);}

/*styling the body of the website*/
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*styling the header on the website*/
header{background: var(--cyan);
width:100%;
height: 100px;
top: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
}

/* making the navigation tabs half hte weidth of the header */
header nav {width:50%;
}

/* formatting the link text */
header nav ul {list-style-type: none;
  display: flex;
  justify-content: space-evenly;
font-size: 1.3em;}

/* adding a margin to the main section */
main{margin-left:20px;
}

/* fomratting the avatar */
#superheroimage{
padding-top: 20px;
width: 10em;
height: auto;
}

/* make the subheading next to the avatar */
.heroarea {display: flex;
}

/* center the subheading */
#subheading {display:flex;
  align-items: center;
padding-left: 20px;}

/*make the icon caption text size*/
#herocaption {font-size: 10px;}

/* making section headings cyan */
.sectionheading {color: var(--cyan);
margin-top: 20px;
text-decoration:underline}

/* creating structure of the flexgrid */
#workgrid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "study-guide study-guide"
  "study-guide study-guide"
  "comingsoon1 comingsoon2"
  "comingsoon3 comingsoon4"
}

#study-guide {
  grid-area: study-guide;
  background-color: blue;
}

#comingsoon1 {
  grid-area: comingsoon1;
  background-color: brown;
}

#comingsoon2 {
  grid-area: comingsoon2;
  background-color: yellow;
}

#comingsoon3 {
  grid-area: comingsoon3;
  background-color: green;
}

#comingsoon4 {
  grid-area: comingsoon4;
  background-color:blueviolet;
}

/* styling the flexgrid */
.workgridarea{margin: 2px 10px 10px 0px;
  cursor: pointer;
}

.workgridarea :hover {
}

/*styling the contact section*/
footer {width: 100%;
  height: 75px;
  background: var(--cyan);
padding-left: 20px;
display: flex;
align-items: center;
  content:space-evenly;
  gap: 60px;
  margin-top: 20px;
}

/* formatting the contact links */
#contact p {text-decoration:underline;
color:black;
align-items: center;
font-size: 1.2em;}

/*change font color when cursor is covering over link*/
.infolinks :hover{color: yellow;
}

/*change font color when link has been clicked*/
.infolinks :visited{color:red;}