* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/*setting root colours for the webpage*/
:root{--cyan: rgb(0,255, 247);
--terquoise: rgb(0, 173, 185)}

/*styling the body of the website*/
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*styling the header on the website*/
header{background: var(--cyan);
width:100%;
height: 100px;
top: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
}

/* making the navigation tabs half hte weidth of the header */
header nav {width:40%;
}

/* formatting the link text */
header nav ul {list-style-type: none;
  display: flex;
  justify-content: space-evenly;
font-size: 1.3em;
}

/* adding a margin to the main section */
main{margin-left:20px;
}

/* links in page will be yellow when hovered */
.pagelink :hover, .infolinks :hover{color: rgb(255, 255, 0);
}

/* formatting the banner */
.herobanner {overflow: hidden;
position: relative;
display: flex;
text-align: center;
}

/* fill the banner to the width i want and creatinga maximum height */
#polygonal {width:120%;
  max-height: 400px;
}

/* formatting the subcaption */
.bannertext {position: absolute;
  bottom: 3em;
  right: 3em;
  max-width: 20%;
  background-color: var(--cyan);
  padding: 10px;}

/* formatting the  attribution caption for the banner */
.bannercaption {position: absolute;
font-size: 10px;
bottom: 1.2em;
left: 1em;}

/* making webpage section headings cyan */
.sectionheading {color: var(--terquoise);
  margin-top: 20px;
  text-decoration:underline;
text-decoration-thickness: 3px;}

/* formatting the "about me" section */
.aboutinfo {display: flex;
  margin-top: 15px;
  font-size: 20em;
}

/* fomratting the avatar */
#superheroimage{
  width: 250px;
  height: auto;
}

/*make the icon caption text size*/
#herocaption {font-size: 10px;
margin-left: 50px;}

/* formatting of text in the "about me" section */
#abouttext {padding: 3%;
font-size: 20px;}

/* creating structure of the flexgrid */
#workgrid {
  margin: 30px 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-areas:
  "study-guide study-guide"
  "study-guide study-guide"
  "comingsoon1 comingsoon2"
  "comingsoon3 comingsoon4"
}

#study-guide {
  grid-area: study-guide;
  background-image: url("../images/Prework-study-guide.png");
}

#comingsoon1 {
  grid-area: comingsoon1;
  background-image: url("../images/coding1.jpg");
}

#comingsoon2 {
  grid-area: comingsoon2;
  background-image: url("../images/coding2.jpg");
}

#comingsoon3 {
  grid-area: comingsoon3;
  background-image: url("../images/coding4.jpg");
}

#comingsoon4 {
  grid-area: comingsoon4;
  background-image: url("../images/coding3.jpg");
}

/* styling the flexgrid */
.workgridarea{margin: 2px 10px 10px 0px;
  cursor: pointer;
  display: grid;
  align-content: end;
  background-size: cover;
  background-position: top;
  align-items: center;
  filter: brightness(90%);
  border: 4px solid var(--terquoise);
  filter: brightness(90%);
}

/* formatting the grid image attributes */
.gridimageatt {position: absolute;
  font-size: 10px;
  bottom: 1em;
  right: 1em;
}

/* animation in the work flex grid when hovering */
.workgridarea:hover {filter: brightness(110%);
  transition: 0.5s;
}

 /* formatting the headers in the work flex grid  */
.heading{background-color: rgba(0, 173, 185, 0.95);
border-top: 2px solid rgba(0, 0, 0, 0.8);
border-right: 2px solid rgba(0, 0, 0, 0.8);
border-bottom: 2px solid rgba(0, 0, 0, 0.8);
width: 25%;
max-width: 300px;
text-align: center;
margin-bottom: 10px;
padding: 5px 10px;
}

/* formatting the  links in the headers in the work flex grid */
.headinglinks p {display: inline;
padding: 10px;
}

/* change font color for the work flex grid links */
.gridlink:hover {color: rgb(177, 205, 50)}

/*styling the contact section*/
footer {width: 100%;
  height:75px;
  background: var(--cyan);
padding-left: 20px;
display: flex;
align-items: center;
  content:space-evenly;
  gap: 80px;
  margin-top: 20px;
}

/* formatting the contact links */
#contact p {text-decoration:underline;
font-size: 1.3em;}